# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 2434997f6f815e1035253f286ca40e5f6dc40bbe5bcf628a89e95ab925ede2423412e77d29b36624c3b94021868fd641029ae9603cc1bf30d7ca2a3747b35fd8

test:
  secret_key_base: a07a64ee1f48a1c1fe47e51d90decd47a3b249d69157559275e02daa8f2a56af3f05d7a10e23c5242be9230072f9dc4f7c2dd007f8edddb88befaa74eb606899

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
